<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>

<mat-card style="width: 700px; margin: auto; padding: 20px;">

  <!-- On relie le formulaire Angular -->
  <form [formGroup]="formGroup" (ngSubmit)="envoyer()">

    <!-- NOM -->
    <mat-form-field style="width: 100%">
      <mat-label>Nom</mat-label>

      <!-- formControlName connecte le champ au TS -->
      <input matInput type="text" formControlName="nom">

      <!-- Message d'erreur -->
      @if (formGroup.get('nom')?.hasError('required')) {
        <mat-error>Le nom est requis</mat-error>
      }
    </mat-form-field>

    <!-- NUMÉRO DE RUE -->
    <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput type="number" formControlName="roadnumber">

      @if (formGroup.get('roadnumber')?.hasError('required')) {
        <mat-error>Le numéro est requis</mat-error>
      }

      @if ((formGroup.get('roadnumber')?.hasError('min') || formGroup.get('roadnumber')?.hasError('max'))
      && !formGroup.get('roadnumber')?.hasError('required')) {
        <mat-error>Doit être entre 1000 et 9999</mat-error>
      }
    </mat-form-field>

    <!-- RUE -->
    <mat-form-field style="width: 100%">
      <mat-label>Rue</mat-label>
      <input matInput type="text" formControlName="rue">
    </mat-form-field>

    <!-- CODE POSTAL -->
    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput type="text" formControlName="postalcode">

      @if (formGroup.get('postalcode')?.hasError('postalcodeInvalide')) {
        <mat-error>Format invalide (A1A 1A1)</mat-error>
      }
    </mat-form-field>

    <!-- COMMENTAIRE -->
    <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput formControlName="commentaire"></textarea>

      @if (formGroup.get('commentaire')?.hasError('minWords')) {
        <mat-error>Minimum 10 mots</mat-error>
      }
    </mat-form-field>

    <!-- ERREUR GLOBALE -->
    @if (formGroup.hasError('nomDansCommentaire')) {
      <mat-error>
        Le commentaire ne doit pas mentionner le nom de l’utilisateur
      </mat-error>
    }

    <!-- BOUTON -->
    <mat-card-actions align="end">

      <!-- Désactivé si formulaire invalide -->
      <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
        Acheter
      </button>

    </mat-card-actions>

  </form>
</mat-card>